CREATE TABLE
{% if if_not_exists %}IF NOT EXISTS{% endif %}
{{table.fully_qualified_name}} (
{% for column in table.columns %}
    {{ column }} {{ column.data_type }}
    {% if column.primary_key %}PRIMARY KEY{% endif %}
    {% if column.autoincrement %}AUTOINCREMENT{% endif %}
    {% if column.not_null %}NOT NULL{% endif %}
    {% if column.unique %}UNIQUE{% endif %}
    {% if column.default_value is not none %}DEFAULT {{ column.default_value_to_sql() }}{% endif %}
    {% if not loop.last %},{% endif %}
{% endfor %}
{% if not table.primary_key_column %}
    , PRIMARY KEY ({{ table.foreign_key_columns | join(', ', attribute='name') }})
{% endif %}
{% for column in table.foreign_key_columns %}
    {% if loop.first %},{% endif %}
    FOREIGN KEY ({{ column }})
    REFERENCES {{ column.reference.table.fully_qualified_name }}({{ column.reference }})
    {% if not loop.last %},{% endif %}
{% endfor %}
);
