INSERT INTO {{ table }} (
    {% for column in columns %}
        {{ column.name }}{% if not loop.last %},{% endif %}
    {% endfor %}
)
VALUES (
    {% for parameter in parameters %}
        :{{ parameter }}{% if not loop.last %},{% endif %}
    {% endfor %}
)
{% if 'id' in table.columns | map(attribute='name') %}
    RETURNING id
{% endif %}
;
