UPDATE {{ table }}
SET
{% for column, parameter in columns_and_parameters %}
    {{ column.name }} = :{{ parameter }}
    {% if not loop.last %},{% endif %}
{% endfor %}
WHERE {{ where_condition }}
{% if 'id' in table.columns | map(attribute='name') %}
    RETURNING id
{% endif %}
;
